.wokoo-app {
  position: fixed;
  top: 50%;
  margin-top: -53px;
  font-size: 15px;
}
.wokoo-app-spread {
  position: fixed;
  top: 52px;
  height: calc(100% - 52px);
  width: 200px;
  z-index: 99;
  background: #fff;
  font-size: 14px;
  overflow: auto;
  box-shadow: 1px 0px 3px rgb(18 18 18 / 10%);
}
.wokoo-app-spread .title-list-ul {
  padding: 10px;
}
.wokoo-app-spread .title-list-li {
  margin-bottom: 10px;
}
.wokoo-app-spread .title-list-li:hover {
  color: #8590a6;
}
.octotree-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  /* box-sizing: border-box; */
  --color-text-primary: #24292e;
  --color-bg-canvas: #ffffff;
  --color-border-primary: #e1e4e8;
  color: var(--color-text-primary);
  background-color: var(--color-bg-canvas);
  box-shadow: 0 2px 8px var(--color-border-primary);
  opacity: 1;
  height: 94px;
  line-height: 1;
  position: absolute;
  right: -30px;
  text-align: center;
  top: 33%;
  width: 30px;
  z-index: 1000000001;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  border-left: none;
  padding: 6px;
  transition: right 0.25s ease-in 0.2s, opacity 0.35s ease-in 0.2s;
}

.octotree-toggle span {
  transform: rotate(-90deg);
}
